# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask secret key or DB info
.env

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# SQLite DB (optional, if you don’t want to upload the DB file)
*.db

# Logs
*.log
